<% provide :title, "Login" %>
<h1>Log in</h1>

<div class="wrapper fadeInDown col-md-6 col-md-offset-3">
 <div id="formContent">
  <!-- Login Form -->
  <form actions = "/login" method = "POST">

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
   <label class="control-label"  for="username">Email</label>
   <div class="controls">
    <input type="text" id="email" name="email" placeholder="" class="input-xlarge" >
   </div>
   
   <label class="control-label" for="password">Password</label>
   <div class="controls">
    <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
   </div>
   <br/>
   
   <label>
     <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
   </label>
   <div class="col-auto my-1">
    <button type="submit" class="btn btn-primary">Login</button>
   </div>
  </form>
  <br/>
  <!-- Remind Passowrd -->
  <div id="formFooter">
  <%= link_to "Forgot Password", password_resets_new_path %>
  </div>
 </div>
</div>
