<% provide :title, "Login" %>
<h1>Log in</h1>

<div class="wrapper fadeInDown col-md-6 col-md-offset-3">
 <div id="formContent">
  <!-- Login Form -->
  <form actions = "/login" method = "POST">

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <% flash.each do |message_type, message| %>
       <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %> 

   <label class="control-label"  for="username">Email</label>
   <div class="controls">
    <input type="text" id="email" name="email" placeholder="" class="input-xlarge" >
   </div>
   
   <label class="control-label" for="password">Password</label>
   <div class="controls">
    <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
   </div>
   <br/>

   <div class="col-auto my-1">
    <button type="submit" class="btn btn-primary">Login</button>
   </div>
  </form>
  <br/>
  <!-- Remind Passowrd -->
  <div id="formFooter">
   <a class="" href="#">Forgot Password?</a>
  </div>
 </div>
</div>
