<div class="wrapper fadeInDown">
 <div id="formContent">
  <!-- Login Form -->
  <form>

   <label class="control-label"  for="username">Username</label>
   <div class="controls">
    <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
    <p class="help-block">Username can contain any letters or numbers, without spaces</p>
   </div>

   <label class="control-label" for="password">Password</label>
   <div class="controls">
    <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
    <p class="help-block">Password should be at least 4 characters</p>
   </div>

   <div class="col-auto my-1">
    <button type="submit" class="btn btn-primary">Login</button>
   </div>
  </form>

  <!-- Remind Passowrd -->
  <div id="formFooter">
   <a class="" href="#">Forgot Password?</a>
  </div>
 </div>
</div>
